body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#top {
  border: 1px solid black;
  background-color: cornsilk;
  height: 30px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  padding: 0;
}

#left {
  position: absolute;
  border: 1px solid black;
  background-color:lightgray;
  width: 240px;
  top: 40px;
  left: 4px;
  margin: 0;
  padding: 0;
}

#content {
  position: absolute;
  border: 1px solid black;
  background-color: white;
  top: 40px;
  left:250px;
  bottom:4px;
  right: 4px;
  margin: 0;
  padding: 0;
}

#content-inner {
  height:100%;
  width:100%;
}

#canvas {
  border: 1px solid black;
}

/* this removes the somewhat ugly dotted lines around 
   focused button div elements in firefox (but it is useful for debugging) */
/* :focus { outline:none; } */

